* {
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteiner {
    margin: 0 auto;
    width: 1500px;
    background: #1adede;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 30px;
    padding: 85px 0px;
    border-radius: 10px;
}

.father {
    width: 45%;
    height: 150px;
    background: #fff2fe;
    border-radius: 10px;
    column-gap: 10px;
    padding: 20px;
}

.item1 {
    width: 30%;
}

.item2 {
    width: 70%;
}

h1 {
    color: #dca217;
    font-size: 35px;
}

p {
    font-size: 20px;
    color: #797777;
    padding-top: 12px;
}
img{
    width: 75%;
    height: 50%;
}
