body {
    background-color: snow;
}
h1 {
    text-align: center;
    color: black;
}
.firstletter::first-letter {
    font-size: 35px;}
p {
    font-size: 20px;
    text-align:justify;
}
img {
    margin: 20px;
    padding: 25px;
    background: #d5aeae;
    border: 2px solid #e3c6c6;
    border-radius: 5px;
    box-shadow: 0 0 20px #8f3b3b;
}
li{
    color: #b70808;
}
li span {
    font-size: 20px;
    color: black;
}
.created {
    color: #797777;
    font-size: 18px;
    float: right;
    margin-right: 20px;
}